# Окружение и кэш
.venv/
__pycache__/
*.py[cod]
.ruff_cache/

# Данные 
data/raw/*
data/interim/*
data/processed/*
data/features/*
submits/*
*.parquet
*.csv

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!submits/.gitkeep

# Глобальные маски артефактов
*.parquet
*.npz
*.cbm
*.csv

# Ноутбуки
.ipynb_checkpoints/

# Логи и модели
models/*.pkl
models/*.bin
logs/

# Vim swap files
*.swp
*.swo
*.swn
.sw?
